/*
 * G4 expand editor visual language.
 */
textarea.g4-expand-editor__textarea {
    font-family: var(--g4-expand-editor-font-family);
    color: inherit;
    background-color: var(--g4-expand-editor-background);
    outline: none;
}

.g4-expand-editor__error {
    color: var(--g4-expand-editor-error-foreground);
}
